#jqt ul.videos li a {
    background-position: 5px 15px;
    background-repeat: no-repeat;
    padding-left: 23px;
}    

#jqt ul.videos li a.directory {
    background-image: url('folder.png');
}    

#jqt ul li a.movie {
    background-image: url('film.png');
}    

#jqt ul li a.encodeable {
    background-image: url('add.png');
}    

#jqt ul li a.queued {
    background-image: url('clock.png');
}    

/* Will eventually be positioned near the click that activated it. */
#spinner {
    position:absolute;
    opacity: 0.5;
    top:10px;
    left: 100px;
}

.util-hide {
    display:none;
}

